:root {
  --color-orng: #ff6800;
}
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar .container .nav-item {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #001525;
}
.showcase {
  background: url("../img/head-poster.png") no-repeat center center/cover;
  position: relative;
  top: -75px;
  z-index: -999;
  width: 100%;
  height: 600px;
}
.showcase-content {
  width: 60%;
  padding-top: 140px;
  padding-left: 80px;
}
h1.showcase-heading {
  width: 90%;
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  line-height: 1.25;
}
p.showcase-desc {
  width: 85%;
  font-size: 16px;
  color: #fff;
  line-height: 1.75;
}

#or-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #000;
  opacity: 0.2;
  border-radius: 50%;
  margin: 15px;
  color: #fff;
}
.showcase-form {
  width: 100%;
  margin-top: 50px;
}
.showcase-form button {
  color: #fff;
  background-color: var(--color-orng);
}
.search-logo {
  width: 20%;
}
.showcase-form span {
  background-color: #fff;
  color: var(--color-orng);
}
.showcase-form .btn-tutor {
  width: 35%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}
.card-img-top {
  width: 50%;
}

.card-body {
  padding: 0;
}
.card-body .card-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.17;
  color: #001525;
}
.card-body .card-text {
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #647a91;
}
.card-body .card-link {
  font-size: 16px;
  font-weight: bold;
  color: #3a6adc;
  text-decoration: none;
}
.arrow-right {
  border: solid #3a6adc;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-left: 10px;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.testimonials {
  background-color: #f7f7f7;
}
.testimonial {
  font-family: Nunito;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: normal;
  position: relative;
}
.testimonial h1 {
  font-weight: 800;
  font-size: 37px;
  color: #001525;
}
.testimonial p {
  width: 75%;
  font-size: 20px;
  color: #647a91;
}
.testimonial h5 {
  margin-top: 70px;
  font-size: 24px;
  font-weight: 800;

  color: #001525;
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features-heading h1 {
  margin-top: 50px;
  font-size: 37px;
  font-weight: 800;
  color: #001525;
}

.footer {
  background: #142a5e;
  padding: 4rem;
}
.footer .footer-top {
  color: white;
}
.footer .footer-info {
  color: white;
}
.footer .footer-info img {
  width: 25%;
}
.footer .footer-info p {
  width: 80%;
}
.footer .footer-info .social-logo {
  display: flex;
}
.footer .footer-info .social-logo .logo {
  background: #2c4274;
  width: 2rem;
  margin: 0.5rem 0.5rem 1rem 0;
  padding: 5px;
}
.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer ul li {
  padding: 0.5rem 0;
}
.footer .footer-menu ul li a {
  text-decoration: none;
  color: #fff;
}

hr {
  color: white;
}
.footer .footer-bottom {
  color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-bottom p {
  margin: 25px 0 0 0;
  padding: 0;
}

/* tablet view  */
@media screen and (max-width: 768px) {
  .showcase {
    height: 400px;
    top: -50px;
  }
  .showcase-content {
    width: 80%;
    padding-top: 80px;
    padding-left: 60px;
  }

  h1.showcase-heading {
    font-size: 30px;
    margin: 20px 0;
  }
  p.showcase-desc {
    font-size: 13px;
    color: #fff;
    margin: 10px 0;
  }
  #or-container {
    width: 28px;
    height: 28px;
  }
  .showcase-form {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .showcase-form .btn-tutor {
    width: 60%;
  }

  .testimonial-heading {
    padding-top: 20px;
  }
  .testimonial-video {
    margin-top: 50px;
  }
  .features-heading h1 {
    margin-top: 40px;
  }
}
/* Mobile view  */
@media screen and (max-width: 426px) {
  .showcase {
    height: 300px;
  }
  .showcase-content {
    width: 80%;
    padding-top: 60px;
    padding-left: 40px;
  }
  h1.showcase-heading {
    font-size: 20px;
    margin: 10px 0;
  }
  p.showcase-desc {
    font-size: 10px;
    color: #fff;
  }
  #or-container {
    width: 25px;
    height: 25px;
  }
  .showcase-form {
    width: 100%;
  }
  .showcase-form input {
    width: 10%;
  }
  .showcase-form button {
    width: 10%;
  }
  .showcase-form .btn-tutor {
    width: 60%;
  }
  .features-heading h1 {
    margin-top: 20px;
  }
}
